/* 
122C34
224870
2A4494
4EA5D9

F3CB2B

#005559
#108070
#50ac77

#83E638;


#00c5a6
#2c8475
#354b46
*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w5aXo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: #122C34;
    color: #b1e3c1;
    height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw0aXpsog.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to right, #108070,#50ac77, #05693a);
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 12px;
}
.menu-item {
    padding: 2px 15px;
}
.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}


.first-section {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(images/spr.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
}


.welcome-text{
    width: 50%;
    text-align: left;
    padding: 5% 0 10% 7%;
}
.welcome-text h1{
    color: #00c5a6;
    font-size: 40px;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);;
}
.welcome-text-hint{
    color: #0bc5a9;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.small-introduction-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-color: #f7fcf6;
    padding: 20px 50px 20px 50px;
}

.watch-history {
    background-color: #dbf2ef;
    text-align: justify;
    color: #108070;
    width: 30%;
    height: 80%;
    border-radius: 15px;
    border: 2px solid #354b46;
    padding: 20px;
}
.watch-history h1 {
    font-size: 40px;
    color: #0ba556;
    margin: 6px;
    
}

.introduction-picture {
    width: 50%;
    height: 87%;
    overflow: hidden;
    display: flex;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    border-radius: 15px;
}

.introduction-picture:hover{
    transform: scale(1.1);
}
.sand-watch {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
}

.watch-types {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    min-height: 140vh;
    background: linear-gradient(
        #122c34, 
        #166b70, 
        #3ab19f, 
        #88f9bb 
    );
    padding: 30px;
}

.types-introduction {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #b1e3c1;
    width: 90%;
    text-align: justify;
    font-size: 20px;
}

.types-introduction h1 {
    font-size: 40px;
    color: #0ba556;
    
}

.titles {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    
    
}
.watch-typo {
    width: 35%;
    display: flex;
    padding: 20px;
    color: #0ba556;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    justify-content: center;
}


.watch-typo h2 {
    margin: 0;
    font-size: 30px;
}

.different-watches{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.watch-picture {
    padding: 10px 20px 10px 20px;
    width: 30%;
}

.picture-in-watches {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

footer {
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttons-in-watches {
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-itself {
    background-color: #0ba556;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
}

.button-itself:hover {    
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
}

.timeline-section {
    padding: 40px 10px;
    background-color: #122C34;
    color: #b1e3c1;
}

.timeline {
    position: relative;
    max-width: 700px; 
    margin: 0 auto;
    padding-left: 20px; 
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px; 
    background-color: #3ab19f;
    top: 0;
    bottom: 0;
    left: 10px; 
    z-index: 0;
}


.timeline-item {
    padding: 8px 0 15px 30px;
    position: relative;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    background-color: #00c5a6;
    border: 1px solid #88f9bb; 
    left: 9px; 
    top: 12px;
    z-index: 1;
}

.timeline-date {
    font-size: 0.9em; 
    font-weight: bold;
    color: #88f9bb;
    margin-bottom: 3px; 
}

.timeline-content {
    font-size: 0.85em; 
    line-height: 1.4;
    background: #166b70;
    padding: 8px; 
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.text-in-timeline-section {
    display: flex;
    color: #0ba556;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    justify-content: center;
}