html {
    background-color: #122C34;
    color: #b1e3c1;
    height: 100vh;
    font-family: sans-serif;
}


body {
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piddy {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.button {
    background-color: #b1e3c1;
    padding: 10px;
    margin: 5px;
}
.button:hover{
    cursor: pointer;
}